<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>Стартовая страница</h1>
    <form action="http://127.0.0.1:8000/func" target="_blank">
        <button>Представление функцией</button>
    </form>
        <h1></h1>
    <form action="http://127.0.0.1:8000/class" target="_blank">
        <button>Представление классом</button>
    </form>
        <h1></h1>
    <form action="http://127.0.0.1:8000/platform" target="_blank">
        <h2><button>Задание 3</button></h2>
    </form>
</body>
</html>