<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1>Корзина</h1>
    <h2>Извините ваша корзина пуста</h2>
    <h2><s>Извините ваша корзина пуста</s></h2>
    <h3><del>Извините ваша корзина пуста</del></h3>
    <h3><i>Извините ваша корзина пуста</i></h3>
    <h3><b>Извините ваша корзина пуста</b></h3>
    <h3><small>Извините ваша корзина пуста</small></h3>
    <h3><mark>Извините ваша корзина пуста</mark></h3>
    <form action="http://127.0.0.1:8000/platform">
        <H2><button>Вернутся обратно</button></H2>
    </form>
</body>
</html>