<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ text }}</h1>
    <ul>
        <li>{{ game1 }}<table></table><button>{{ button }}</button></li>
        <li>{{ game2 }}<table></table><button>{{ button }}</button></li>
        <li>{{ game3 }}<table></table><button>{{ button }}</button></li>
    </ul>
    <form action="http://127.0.0.1:8000/platform">
        <H2><button>{{ back }}</button></H2>
    </form>
</body>
</html>